div{
    padding:5px;
    border-radius: 10px;
    height:50px;
    width:100px;
    background-color:yellowgreen;
    margin:5px;
    font-weight: bold;

}

#xyz{
 display:flex;
 flex-wrap:wrap;

}

